<!-- Left Sidebar -->
<div class="w-full md:w-56 flex-shrink-0">
    <nav class="space-y-1">
        <a href="/home" class="sidebar-item flex items-center px-4 py-3 text-sm font-medium rounded-md">
            <i class="fas fa-home mr-3 text-gray-500"></i>
            Home
        </a>
        <a href="/calendar"
            class="sidebar-item flex items-center px-4 py-3 text-sm font-medium rounded-md">
            <i class="fas fa-calendar mr-3 text-gray-500"></i>
            Events
        </a>
<!--        <a href="/saved"-->
<!--            class="sidebar-item flex items-center px-4 py-3 text-sm font-medium rounded-md">-->
<!--            <i class="fas fa-bookmark mr-3 text-gray-500"></i>-->
<!--            Saved-->
<!--        </a>-->
        <a href="/profile"
            class="sidebar-item flex items-center px-4 py-3 text-sm font-medium rounded-md">
            <i class="fas fa-user mr-3 text-gray-500"></i>
            Profile
        </a>
    </nav>
</div>